########################
# Enable indexing
########################
Options -Indexes

########################
# FORCE HTTPS ON SITE
########################
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

########################
# Everything Else
########################
RewriteEngine on
RewriteBase	/

# Add trailing slash to admin URL
RewriteCond	%{REQUEST_FILENAME} !-f
RewriteCond	%{REQUEST_FILENAME} !-d
RewriteRule	^admin$		/admin/  [L,R=301,NC]

# Admin page
RewriteCond	%{REQUEST_FILENAME} !-f
RewriteCond	%{REQUEST_FILENAME} !-d
RewriteRule	^([^/.]*)?/?([^\/]*)?/?([^\/]*)?/?(.*)?$			index.php?tiotournament=$1&tioevent=$2&tiomatch=$3&other=$4  [L,QSA,NC]
